# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/runs
/runs
/runs/client
/runs
*.gz
*.log
runs/client/logs/debug-1.log.gz
runs/client/logs/debug-2.log.gz
runs/client/logs/debug-3.log.gz
runs/client/logs/debug.log
runs/client/logs/latest.log
runs/client/saves/New World/data/raids.dat
runs/client/saves/New World/DIM-1/data/raids.dat
runs/client/saves/New World/DIM1/data/raids_end.dat
runs/client/saves/New World/entities/r.-1.-1.mca
runs/client/saves/New World/entities/r.-1.0.mca
runs/client/saves/New World/entities/r.0.-1.mca
runs/client/saves/New World/entities/r.0.0.mca
runs/client/saves/New World/level.dat
runs/client/saves/New World/level.dat_old
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World/region/r.-1.-1.mca
runs/client/saves/New World/region/r.-1.0.mca
runs/client/saves/New World/region/r.0.-1.mca
runs/client/saves/New World/region/r.0.0.mca
runs/client/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/usercache.json
runs/client/logs/debug-1.log.gz
runs/client/logs/debug-2.log.gz
runs/client/logs/debug-3.log.gz
runs/client/logs/debug.log
runs/client/logs/latest.log
runs/client/options.txt
runs/client/saves/New World/data/raids.dat
runs/client/saves/New World/DIM-1/data/raids.dat
runs/client/saves/New World/DIM1/data/raids_end.dat
runs/client/saves/New World/entities/r.-1.-1.mca
runs/client/saves/New World/entities/r.-1.0.mca
runs/client/saves/New World/entities/r.0.-1.mca
runs/client/saves/New World/entities/r.0.0.mca
runs/client/saves/New World/level.dat
runs/client/saves/New World/level.dat_old
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World/region/r.-1.-1.mca
runs/client/saves/New World/region/r.-1.0.mca
runs/client/saves/New World/region/r.0.-1.mca
runs/client/saves/New World/region/r.0.0.mca
runs/client/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/usercache.json
runs/data/logs/debug-1.log.gz
runs/data/logs/debug-2.log.gz
runs/data/logs/debug-3.log.gz
runs/data/logs/debug-4.log.gz
runs/data/logs/debug.log
runs/data/logs/latest.log
